<!DOCTYPE html>
<html>
    <head>
        <title>This is the </title>
        <link rel="stylesheet" href="../public/css/bootstrap-v4.css">
        <script src="../public/js/jquery.js"></script>
        <script src="../public/js/bootstrap-v4.js"></script>
    </head>
    <body style="background-color:  #efefef; margin-top: 18%;">
        <h1 class="text-center">Search Engine Movie</h1>
        <form action="/results" method="GET" class="justify-content-center d-flex">
            <input type="text" class="form-control w-25" name="query"  placeholder="Enter Your Movie...">
            <button class="btn btn-success ml-2">Search</button>
        </form>
    </body>
</html>